<!DOCTYPE html>
<html>

<head>
	<title>Flask WebSocket Example</title>

	<link rel="stylesheet" href="/css/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
	<script src="/js/index.js" defer></script>


</head>

<body>
	<div id="main_container">
		<h1 id="calibration_holder"></h1>
		<canvas id="ips_canvas">
		</canvas>
		<br>
		<div class="row_row">
			<label for="x_cordinate">X:</label>
			<input name="x_cordinate" id="x_cordinate">
			<label for="y_cordinate">Y:</label>
			<input name="y_cordinate" id="y_cordinate">
		</div>
		<div class="row_row">
			<button id="make_manual_scan_btn">Make manual scan</button>

			<button id="make_automatic_scan_btn">Make automatic scan</button>

			<button id="toggle_calibration_btn">Toggle calibrate</button>

			<button id="reset_receivers_btn">Reset receivers</button>

		</div>

		<div class="row_row">
			<h1 id="people_counter">People: 0</h1>
		</div>

		<div class="row_row">
			<select id="ride_dropdown"></select>
			<button id="ride_select">Select ride</button>
		</div>
	</div>

</body>

</html>
